In [1]:
nst_tup = ("System", (60, 75, 45), (15, 3, 12))

In [2]:
nst_tup[1][1]

75

In [7]:
nst_tup[1:2][0][1]

75

In [9]:
scores = (12, 25, 32, 39, 44)
f_score, *bw_s, l_score = scores
print("Output is :", f_score, "and", bw_s, "and", l_score)

Output is : 12 and [25, 32, 39] and 44

In [15]:
dict1 = {}
tup1 = ()
st1 = set()
toy = "baseball"
gt_str = toy[2:2]
print(gt_str)

In [18]:
city = {'Delhi':3, 'Bengaluru':5, 'Chennai':4, 'Kolkata':6, 'Mumbai':7}
print(city['Bengaluru'])
# print(city.get['Bengaluru'])
# print(city.values()[1])
print(list(city.values())[1])

5
5

In [23]:
list_tens = [["October", 24, ["2021"]]]
len(list_tens)

1

In [24]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

In [25]:
sum(tuple_1)

27

In [26]:
tuple_2 + tuple_1

(8, 9, 4, 1, 5, 6, 7, 8)

In [29]:
import numpy as np
list1=np.arange(15,25,4)
list1

array([15, 19, 23])

In [31]:
np.where(list1 == 19)

(array([1]),)

In [38]:
states = {'Tamil Nadu': 'TN', 'Karnataka': 'KA', 'Kerala': 'KL', 'Maharashtra': 'MH'}
del states['Karnataka']
states

{'Tamil Nadu': 'TN', 'Kerala': 'KL', 'Maharashtra': 'MH'}

In [39]:
states = {'Tamil Nadu': 'TN', 'Karnataka': 'KA', 'Kerala': 'KL', 'Maharashtra': 'MH'}
states.popitem('Karnataka')
states

TypeError: dict.popitem() takes no arguments (1 given)

In [40]:
states = {'Tamil Nadu': 'TN', 'Karnataka': 'KA', 'Kerala': 'KL', 'Maharashtra': 'MH'}
states.pop('Karnataka')
states

{'Tamil Nadu': 'TN', 'Kerala': 'KL', 'Maharashtra': 'MH'}

In [41]:
states = {'Tamil Nadu': 'TN', 'Karnataka': 'KA', 'Kerala': 'KL', 'Maharashtra': 'MH'}
del states['Karnataka':'KA']
states

KeyError: slice('Karnataka', 'KA', None)

In [45]:
arr = np.array([[5,9,10], [7,2,6], [12,8,0]])
np.sum(arr, axis = 1)

array([24, 15, 20])

In [46]:
arr = np.array([[[1, 2, 3], [4, 5, 6], [7, 8, 9]]])
arr[0][1]

array([4, 5, 6])

In [47]:
s = {1,2,4,5}
l =[]

for i in range(len(s)):
  l +=[1+i]
print(l)

[1, 2, 3, 4]